/*
Template: Hasta
Author: Codelayers
Version: 1.0
Design and Developed by: Codelayers
*/


/*
======================================
[ CSS TABLE CONTENT ]
======================================
    [Table of contents]

	1. General
		+ Color WEB
		+ Text Colors
		+ Headings
		+ Divider lines
		+ Paddings
		+ Opacity styles
		+ fonts
		+ Icon Boxes
		+ Text Boxes
		+ Buttons
		+ Opacity styles
		+ buttons

	2. Image boxes
		+ section-side-image
		+ background-imgholder
		+ image-left
		+ image-holder
		+ nodisplay-image
	
	3. Lists
		+ iconlist
		+ clientlogo-list
		+ side-nav-list
		+ category-links
		+ tags 
	
	4. Menu Backgrounds
		+ Headers
	
	5. Topbar Styles
		+ topbar
		+ toplist
	
	6. Logo
		+ logo
	
	7. Section Titles
		+ section titles
	
	8. Page Section Styles
		+ Section Styles
	
	9. Footer Styles
		+ footer logo
		+ lists
	
	
	10. Parallax Sections
	
	11. Overlay Styles
		+ Section Overlay
		+ video overlay
	
	12. Social Links
		+ social-icons-1
		+ social-icons-2
		+ social-icons-3
	
	13. Feature boxs
	
	14. Team Section
	
	15. Price Tables
	
	16. Blog Posts
	
	17. Testimonials

	18. Footer Newsletter
	
	19. Video wrapers
	
	20. Progress bar
	
	21. Newsletter
	
	22. css progress circles
	
	23. Page Scroll to Top
	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*===============================================
=            PERSONALIZACION GENERAL            =
===============================================*/
/*	+ Color WEB ==*/
/*Colores Logo
Azul: #009cde;
Negro:#000;
Balnco:#fff;

Colores Pagina WEB
Complementario.
Naranja:#ff6d00;

Analogos.
Verde:#00de25;
Azul:#004ade;
*/

/* a link Styles
 ------------------------------ */
 
a, .btn {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:hover {
	text-decoration: none;
}
a:focus, a:hover {
	color: #5a5959;
}
a {
	outline: medium none !important;
	color: #727272;
}
.uppercase {
	text-transform: uppercase;
}



/* Headings
 ------------------------------ */
 

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 300;
}
h1.lessmar {
	margin-bottom: 10px;
}
h1.lessmar2 {
	margin-bottom: 5px;
}
h2 {
	font-size: 35px;
	lline-height: 35px;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 300;
}
h2.nomargin {
	margin-bottom: 0px;
}
h2.less-mar1 {
	margin-bottom: 3px;
}
h2.less-mar2 {
	margin-bottom: 5px;
}
h2.less-mar3 {
	margin-bottom: 7px;
}
h2.less-mar4 {
	margin-bottom: 9px;
}
h3 {
	font-size: 27px;
	line-height: 30px;
	margin-bottom: 18px;
	font-style: normal;
}
h3.nomargin {
	margin-bottom: 0px;
}
h3.less-mar1 {
	margin-bottom: 3px;
}
h3.less-mar2 {
	margin-bottom: 5px;
}
h3.less-mar3 {
	margin-bottom: 7px;
}
h3.less-mar4 {
	margin-bottom: 9px;
}
h4 {
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 18px;
	font-style: normal;
}
h4.nomargin {
	margin-bottom: 0px;
}
h4.less-mar1 {
	margin-bottom: 3px;
}
h4.less-mar2 {
	margin-bottom: 5px;
}
h4.less-mar3 {
	margin-bottom: 7px;
}
h4.less-mar4 {
	margin-bottom: 9px;
}
h5 {
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 16px;
	font-style: normal;
}
h5.nomargin {
	margin-bottom: 0px;
}
h5.less-mar1 {
	margin-bottom: 3px;
}
h5.less-mar2 {
	margin-bottom: 5px;
}
h5.less-mar3 {
	margin-bottom: 7px;
}
h5.less-mar4 {
	margin-bottom: 9px;
}
h6 {
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 14px;
	font-style: normal;
}
h6.nomargin {
	margin-bottom: 0px;
}
h6.less-mar1 {
	margin-bottom: 3px;
}
h6.less-mar2 {
	margin-bottom: 5px;
}
h6.less-mar3 {
	margin-bottom: 7px;
}
h6.less-mar4 {
	margin-bottom: 9px;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.h1, .h2, .h3, h1, h2, h3, h4 {
	margin-top: 0;
}
ul {
	list-style-type: none;
}



/*	+ Text colors */
/*=============== Text Colors ============= */
.text-blue{
	color: #009cde;
}

.text-white {
	color: #fff;
}
.text-dark {
	color: #242424;
}
.text-light {
	color: #acacac;
}
.text-green {
	color: #00de25;
}
.text-orange {
	color: #ffa60a;
}
.text-orange-2 {
	color: #ff6d00;
}
.text-orange-4 {
	color: #ff9320;
}
.text-red {
	color: #ee4531;
}
.text-gray {
	color: #727272;
}
.text-violet {
	color: #7c50b7;
}
.text-yellow {
	color: #ffc000;
}


/*=============== Margins ============= */
 .bmargin {
	margin-bottom: 0px;
}
.tmargin {
	margin-top: 0px;
}
.col-divider-margin {
	width: 100%;
	float: left;
	margin-top: 60px;
}
.col-divider-margin-1 {
	width: 100%;
	float: left;
	margin-top: 10px;
}
.col-divider-margin-2 {
	width: 100%;
	float: left;
	margin-top: 20px;
}
.col-divider-margin-3 {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.col-divider-margin-4 {
	width: 100%;
	float: left;
	margin-top: 40px;
}
.col-divider-margin-5 {
	width: 100%;
	float: left;
	margin-top: 50px;
}
.col-divider-margin-6 {
	width: 100%;
	float: left;
	margin-top: 60px;
}
.nobottom-margin {
	margin-bottom: 0px;
}
.bottom-margin3 {
    margin-bottom: 30px;
}
.bottom-margin4 {
    margin-bottom: 40px;
}
.bottom-margin5 {
    margin-bottom: 50px;
}
.margin-top1 {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.margin-top2 {
    float: left;
    margin-top: 20px;
    width: 100%;
}
.margin-top3 {
    float: left;
    margin-top: 30px;
    width: 100%;
}
.margin-top4 {
    float: left;
    margin-top: 40px;
    width: 100%;
}
.margin-top5 {
    float: left;
    margin-top: 50px;
    width: 100%;
}
.margin-top6 {
    float: left;
    margin-top: 60px;
    width: 100%;
}
.margin-top7 {
    float: left;
    margin-top: 70px;
    width: 100%;
}
.margin-left-1 {
    margin-left: 10px;
}
.margin-left-2 {
    margin-left: 20px;
}
.margin-left-3 {
    margin-left: 30px;
}
.margin-left-4 {
    margin-left: 40px;
}
.margin-left-5 {
    margin-left: 50px;
}
.margin-left-6 {
    margin-left: 60px;
}
.margin-left-7 {
    margin-left: 70px;
}
.colmargin {
	margin: 0 0 0 0;
}
.col-centered {
	float: none;
	margin: 0 auto;
}

/* font weight
 ------------------------------ */
.fweight1 {
	margin-bottom: 0px;
}


/*=============== Divider lines ============= */
 .divider-line {
	float: left;
	width: 100%;
}
.divider-line.dashed {
	border-bottom: 1px dashed;
}
 .divider-line.solid {
	border-bottom: 1px solid;
}
.divider-line.dark {
	border-bottom-color:#444444;
}
.divider-line.dark-2 {
	border-bottom-color:#343333;
}
.divider-line.light {
	border-bottom-color:#e4e4e4;
}
 .divider-line.top-padding {
	padding-top: 20px;
}
 .divider-line.bottom-margin {
	margin-bottom: 20px;
}
 .divider-line.margin {
	margin: 20px 0;
}

/* Divider Line less width
 ------------------------------ */
.divider-line.less-width-2{
	width: 20%;
}
.divider-line.less-width-3{
	width: 30%;
}
.divider-line.less-width-4{
	width: 40%;
}
 .divider-line.less-width-5{
	width: 50%;
}
.divider-line.less-width-6{
	width: 60%;
}
 .divider-line.less-width-7{
	width: 70%;
}
.divider-line.less-width-8{
	width: 80%;
}
 .divider-line.less-width-9{
	width: 90%;
}

/* Divider Line align center
 ------------------------------ */
.divider-line.align-center{
	 margin:0 auto;
	 float:none;
}

/* Divider Line colors
 ------------------------------ */
 .divider-line.red2 {
	border-bottom-color:#ea3628;
}
 .divider-line.yellow-2 {
	border-bottom-color:#fcc813;
}
 .divider-line.red-4 {
	border-bottom-color:#e93e21;
}
.divider-line.cyan {
	border-bottom-color:#42d1aa;
}
.divider-line.blue {
	border-bottom-color:#1fbef0;
}
.divider-line.orange-4 {
	border-bottom-color:#ff9320;
}
.divider-line.green-4 {
	border-bottom-color:#8ac700;
}

/* padding top
 ------------------------------ */
.padding-top-1 {
	padding-top: 10px;
}
.padding-top-2 {
	padding-top: 20px;
}
.padding-top-3 {
	padding-top: 30px;
}
.padding-top-4 {
	padding-top: 40px;
}
.padding-top-5 {
	padding-top: 50px;
}
.padding-top-6 {
	padding-top: 60px;
}

/* left padding
 ------------------------------ */
 
.padding-left-1 {
	padding-left: 10px;
}
.padding-left-2 {
	padding-left: 20px;
}
.padding-left-3 {
	padding-left: 30px;
}
.padding-left-4 {
	padding-left: 40px;
}
.padding-left-5 {
	padding-left: 50px;
}
.padding-left-6 {
	padding-left: 60px;
}
.padding-left-7 {
	padding-left: 70px;
}
.padding-left-8 {
	padding-left: 80px;
}

/* right padding
 ------------------------------ */
 
.padding-right-1 {
	padding-right: 10px;
}
.padding-right-2 {
	padding-right: 20px;
}
.padding-right-3 {
	padding-right: 30px;
}
.padding-right-4 {
	padding-right: 40px;
}
.padding-right-5 {
	padding-right: 50px;
}
.padding-right-6 {
	padding-right: 60px;
}
.padding-right-7 {
	padding-right: 70px;
}
.padding-right-8 {
	padding-right: 80px;
}
.nopaddtop {
	padding-top: 0px;
}


/*=============== Opacity styles ============= */
.opacity-1 {
	opacity:0.1;
}
.opacity-2 {
	opacity:0.1;
}
.opacity-3 {
	opacity:0.3;
}
.opacity-4 {
	opacity:0.4;
}
.opacity-5 {
	opacity:0.5;
}
.opacity-6 {
	opacity:0.6;
}
.opacity-7 {
	opacity:0.7;
}
.opacity-8 {
	opacity:0.8;
}

/* letter spacing
 ------------------------------ */
 .lspace-sm{
	letter-spacing:5px;
	}
	
.lspace-1{
	letter-spacing:10px;
	}
.lspace-2{
	letter-spacing:20px;
	}
.lspace-3{
	letter-spacing:30px;
	}
.lspace-4{
	letter-spacing:40px;
	}
.lspace-5{
	letter-spacing:50px;
	}



/* font weight styles
 ------------------------------ */
 
.font-weight-1 {
	font-weight: 100;
}
.font-weight-2 {
	font-weight: 200;
}
.font-weight-3 {
	font-weight: 300;
}
.font-weight-4 {
	font-weight: 400;
}
.font-weight-5 {
	font-weight: 500;
}
.font-weight-6 {
	font-weight: 600;
}
.font-weight-7 {
	font-weight: 700;
}
.font-weight-8 {
	font-weight: 800;
}
 


/*=============== Columns without padding ============= */
.no-gutter > [class*='col-'] {
padding-right:0;
padding-left:0;
}


/*=============== Columns without padding ============= */
.no-gutter > [class*='col-'] {
padding-right:0;
padding-left:0;
}
/*=============== site main structure ============= */

.site_wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
}
.wrapper-boxed {
	width: 1240px;
	margin: auto auto auto auto;
}

/*=============== Icon Boxes ============= */
.iconbox-dxlarge, .iconbox-xlarge, .iconbox-large, .iconbox-xmedium, .iconbox-medium, .iconbox-smedium, .iconbox-small, .iconbox-tiny, .iconbox-xtiny {
	padding: 0px;
	margin: 0 auto;
	text-align: center;
	transition: all 0.3s ease-out 0s;
}
.iconbox-dxlarge {
	width: 200px;
	height: 200px;
	font-size: 46px;
	color: #242424;
	border: none;
	line-height: 135px;
}
.iconbox-xlarge {
	width: 135px;
	height: 135px;
	font-size: 46px;
	color: #242424;
	line-height: 135px;
}
.iconbox-large {
	width: 120px;
	height: 120px;
	font-size: 46px;
	color: #242424;
	line-height: 114px;
}
.iconbox-xmedium {
	width: 110px;
	height: 110px;
	font-size: 38px;
	color: #242424;
	line-height: 106px;
}
.iconbox-medium {
	width: 100px;
	height: 100px;
	font-size: 32px;
	color: #242424;
	line-height: 100px;
}
.iconbox-smedium {
	width: 90px;
	height: 90px;
	font-size: 26px;
	color: #242424;
	line-height: 90px;
}
.iconbox-small {
	width: 80px;
	height: 80px;
	font-size: 26px;
	color: #242424;
	line-height: 80px;
}
.iconbox-tiny {
	width: 70px;
	height: 70px;
	font-size: 26px;
	color: #242424;
	line-height: 74px;
}
.iconbox-xtiny {
	width: 60px;
	height: 60px;
	font-size: 18px;
	color: #242424;
	line-height: 60px;
}
.digit {
	width: 32px;
	height: 32px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	left: 115px;
	top: 115px;
	line-height: 36px;
	border-radius: 100%;
	background-color: #fd602c;
	transition: all 0.3s ease-out 0s;
}
.iconbox-xlarge.no-lineheight {
	line-height: 0;
}
/* icon rounded
 ------------------------------ */
 
.iconbox-dxlarge.round, .iconbox-xlarge.round, .iconbox-large.round, .iconbox-xmedium.round, .iconbox-medium.round, .iconbox-smedium.round, .iconbox-small.round, .iconbox-tiny.round, .iconbox-xtiny.round {
	border-radius: 100%;
}
/* iconboxes alignments
 ------------------------------ */
 
.iconbox-dxlarge.center, .iconbox-xlarge.center, .iconbox-large.center, .iconbox-xmedium.center, .iconbox-medium.center, .iconbox-smedium.center, .iconbox-small.center, .iconbox-tiny.center, .iconbox-xtiny.center {
	margin: 0 auto;
}
.iconbox-dxlarge.left, .iconbox-xlarge.left, .iconbox-large.left, .iconbox-xmedium.left, .iconbox-medium.left, .iconbox-smedium.left, .iconbox-small.left, .iconbox-tiny.left, .iconbox-xtiny.left {
	float: left;
	margin: 0px 20px 0px 0px;
}
.iconbox-dxlarge.right, .iconbox-xlarge.right, .iconbox-large.right, .iconbox-xmedium.right, .iconbox-medium.right, .iconbox-smedium.right, .iconbox-small.right, .iconbox-tiny.right, .iconbox-xtiny.right {
	float: right;
	margin: 0px 0px 0px 20px;
}
/* iconboxe background colors
 ------------------------------ */	
.iconbox-dxlarge.dark, .iconbox-xlarge.dark, .iconbox-large.dark, .iconbox-xmedium.dark, .iconbox-medium.dark, .iconbox-smedium.dark, .iconbox-small.dark, .iconbox-tiny.dark, .iconbox-xtiny.dark {
	color: #fff;
	background-color: #242424;
}
.iconbox-dxlarge.dark, .iconbox-xlarge.white, .iconbox-large.white, .iconbox-xmedium.white, .iconbox-medium.white, .iconbox-smedium.white, .iconbox-small.white, .iconbox-tiny.white, .iconbox-xtiny.white {
	color: #242424;
	background-color: #fff;
}
.iconbox-dxlarge.gray, .iconbox-xlarge.gray, .iconbox-large.gray, .iconbox-xmedium.gray, .iconbox-medium.gray, .iconbox-smedium.gray, .iconbox-small.gray, .iconbox-tiny.gray, .iconbox-xtiny.gray {
	color: #fff;
	background-color: #474747;
}
/* iconboxs with stroke
 ------------------------------ */	
.iconbox-dxlarge.grayoutline, .iconbox-xlarge.grayoutline, .iconbox-large.grayoutline, .iconbox-xmedium.grayoutline, .iconbox-medium.grayoutline, .iconbox-smedium.grayoutline, .iconbox-small.grayoutline, .iconbox-tiny.grayoutline, .iconbox-xtiny.grayoutline {
	color: #fff;
	background-color: #00de25;
	border: 1px solid #727272;
}
.iconbox-dxlarge.grayoutline2, .iconbox-xlarge.grayoutline2, .iconbox-large.grayoutline2, .iconbox-xmedium.grayoutline2, .iconbox-medium.grayoutline2, .iconbox-smedium.grayoutline2, .iconbox-small.grayoutline2, .iconbox-tiny.grayoutline2, .iconbox-xtiny.grayoutline2 {
	color: #242424;
	background-color: #00DE25;
	border: 3px solid #e4e4e4;
}
.iconbox-dxlarge.white-outline, .iconbox-xlarge.white-outline, .iconbox-large.white-outline, .iconbox-xmedium.white-outline, .iconbox-medium.white-outline, .iconbox-smedium.white-outline, .iconbox-small.white-outline, .iconbox-tiny.white-outline, .iconbox-xtiny.white-outline {
	color: #fff;
	background-color: none;
	border: 1px solid #fff;
}
.iconbox-dxlarge.dark-outline, .iconbox-xlarge.dark-outline, .iconbox-large.dark-outline, .iconbox-xmedium.dark-outline, .iconbox-medium.dark-outline, .iconbox-smedium.dark-outline, .iconbox-small.dark-outline, .iconbox-tiny.dark-outline, .iconbox-xtiny.dark-outline {
	color: #161616;
	background-color: none;
	border: 1px solid #161616;
}
/* Icons Plain
 ------------------------------ */	
 
.icon-plain-large {
	font-size: 80px;
	color: #242424;
	transition: all 0.3s ease-out 0s;
}
.icon-plain-medium {
	font-size: 60px;
	color: #242424;
	transition: all 0.3s ease-out 0s;
}
.icon-plain-small {
	font-size: 40px;
	color: #242424;
	transition: all 0.3s ease-out 0s;
}
.icon-plain-msmall {
	font-size: 32px;
	color: #242424;
	transition: all 0.3s ease-out 0s;
}
.icon-plain-tiny {
	font-size: 20px;
	color: #242424;
	transition: all 0.3s ease-out 0s;
}
.icon-plain-small.rightline {
	border-right: 1px solid #3F3F3F;
}
.icon-plain-medium.rightline {
	margin: 0px 20px 50px 0px;
	border-right: 1px solid #FFC153;
}
.icon-plain-small.dark {
	color: #242424;
}
/* plain icon alignments
 ------------------------------ */
 
.icon-plain-large.center, .icon-plain-medium.center, .icon-plain-small.center, .icon-plain-msmall.center, .icon-plain-tiny.center {
	margin: 0 auto;
}
.icon-plain-large.left, .icon-plain-medium.left, .icon-plain-small.left, .icon-plain-msmall.left, .icon-plain-tiny.left {
	float: left;
	margin: 0px 20px 0px 0px;
}
.icon-plain-large.right, .icon-plain-medium.right, .icon-plain-small.right, .icon-plain-msmall.right, .icon-plain-tiny.right {
	float: right;
	margin: 0px 0px 0px 20px;
}
/* plain icon colors
 ------------------------------ */
 
.icon-plain-large.dark, .icon-plain-medium.dark, .icon-plain-small.dark, .icon-plain-msmall.dark, .icon-plain-tiny.dark {
	color: #242424;
}
.icon-plain-large.white, .icon-plain-medium.white, .icon-plain-small.white, .icon-plain-msmall.white, .icon-plain-tiny.white {
	color: #fff;
}
.icon-plain-large.green, .icon-plain-medium.green, .icon-plain-small.green, .icon-plain-msmall.green, .icon-plain-tiny.green {
	color: #fd602c;
}
.icon-plain-large.gray, .icon-plain-medium.gray, .icon-plain-small.gray, .icon-plain-msmall.gray, .icon-plain-tiny.gray {
	color: #727272;
}


/*============ Text Boxes ============ */

	
.text-box-right {
	display: block;
	padding: 0px 0px 0px 99px;
	margin: 0px;
	text-align: left;
}
.text-box-left {
	display: block;
	padding: 0px 90px 0px 0;
	margin: 0px;
	text-align: right;
}
.item-holder {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.text-box-inner {
	width: 100%;
	float: left;
	padding: 40px;
}
.text-box {
	width: 100%;
	float: left;
}
.text-box.white {
	background-color: #fff;
}
.text-box.dark {
	background-color: #242424;
}
/* text boxes with borders
 ------------------------------ */
.text-box-right.border, .text-box-left.border, .item-holder.border, .text-box-inner.border, .text-box.border {
	border: 1px solid #e4e4e4;
}
.text-box-right.border-top, .text-box-left.border-top, .item-holder.border-top, .text-box-inner.border-top, .text-box.border-top {
	border-top: 1px solid #e4e4e4;
}
.text-box-right.border-bottom, .text-box-left.border-bottom, .item-holder.border-bottom, .text-box-inner.border-bottom, .text-box.border-bottom {
	border-bottom: 1px solid #e4e4e4;
}
.text-box-right.border-left, .text-box-left.border-left, .item-holder.border-left, .text-box-inner.border-left, .text-box.border-left {
	border-left: 1px solid #e4e4e4;
}
.text-box-right.border-right, .text-box-left.border-right, .item-holder.border-right, .text-box-inner.border-right, .text-box.border-right {
	border-right: 1px solid #e4e4e4;
}
/* text boxe padding
 ------------------------------ */
.text-box.padding-1 {
	padding: 10px;
}
.text-box.padding-2 {
	padding: 20px;
}
.text-box.padding-3 {
	padding: 30px;
}
.text-box.padding-4 {
	padding: 40px;
}
.text-box.padding-5 {
	padding: 50px;
}
.text-box.padding-6 {
	padding: 60px;
}
.text-box.padding-7 {
	padding: 20px;
}
.text-box.padding-8 {
	padding: 80px;
}
.text-box.padding-9 {
	padding: 90px;
}
/* text boxes margin and paddings
 ------------------------------ */
 
 /* left box
 ------------------------------ */
 
.item-holder.marginbottom {
	margin: 0 0 40px 0;
}
.text-box-left.more-padding-1 {
	padding: 0px 0px 0px 120px;
}
.text-box-left.more-padding-2 {
	padding: 0px 0px 0px 150px;
}
.text-box-left.less-padding-1 {
	padding: 0px 70px 0px 0;
}

/* right box
 ------------------------------ */
 
.text-box-right.more-padding-1 {
	padding: 0px 0px 0px 120px;
}
.text-box-right.more-padding-2 {
	padding: 0px 0px 0px 140px;
}
.text-box-right.more-padding-3 {
	padding: 0px 0px 0px 160px;
}
.text-box-right.more-padding-4 {
	padding: 0px 0px 0px 170px;
}
.text-box-inner.min-height-1 {
	min-height: 305px;
}
.text-box-right.less-padding-1 {
	padding: 0px 0px 0px 70px;
}


/*============ Buttons ============ */

a.read-more {
	color: #fd602c;
}
a.read-more:hover {
	color: #242424;
}
a.read-more.white {
	color: #fff;
}
a.read-more.white:hover {
	color: #fff;
}
a.read-more.dark {
	color: #242424;
}
a.read-more.dark:hover {
	color: #fd602c;
}
a.read-more.dark2 {
	color: #242424;
}
a.read-more.dark2:hover {
	color: #727272;
}
a.read-more.yellow {
	color: #ffc000;
}
a.read-more.yellow:hover {
	color: #242424;
}
a.read-more.yellow-2 {
	color: #fcc813;
}
a.read-more.yellow-2:hover {
	color: #242424;
}
a.read-more.yellow-3 {
	color: #f7c800;
}
a.read-more.yellow-3:hover {
	color: #242424;
}
a.read-more.stone {
	color: #c3a254;
}
a.read-more.stone:hover {
	color: #242424;
}
a.read-more.brown-2 {
	color: #b5854d;
}
a.read-more.brown-2:hover {
	color: #242424;
}
a.read-more.pink-3 {
	color: #ce0a6c;
}
a.read-more.pink-3:hover {
	color: #242424;
}
a.read-more.blue {
	color: #1fbef0;
}
a.read-more.blue:hover {
	color: #242424;
}
a.read-more.cyan {
	color: #42d1aa;
}
a.read-more.cyan:hover {
	color: #727272;
}
.btn.active, .btn:active {
	box-shadow: none;
}

/* button styles
 ------------------------------ */
 
.btn {
	padding: 10px 36px;
	margin: 0px;
	box-shadow: none;
	border-radius: 0;
}
.btn.btn-large {
	padding: 15px 60px;
}
.btn.btn-small {
	padding: 8px 18px;
}
.btn.btn-small-2 {
	padding: 4px 18px;
}

.btn-default{
	background-color:rgba(255,109,0,0.9);
	border-radius: 10px;
	color:white;
	border:;

}


/* button radius
 ------------------------------ */ 
.btn.btn-xround {
	border-radius: 20px;
}
.btn.btn-round {
	border-radius: 2px;
}
.btn.top-margin {
	margin-top: 20px;
}

/* button background colors
 ------------------------------ */

/* button white
 ------------------------------ */
.btn.btn-white {
	color: #242424;
	background-color: #fff;
}
.btn.btn-white:hover {
	color: #fff;
	background-color: #242424;
}
/* button dark
 ------------------------------ */
.btn.btn-dark {
	color: #fff;
	background-color: #242424;
}
.btn.btn-dark:hover {
	color: #fff;
	background-color: #3e3e3e;
}
/* button dark-2
 ------------------------------ */
.btn.btn-dark-2 {
	color: #fff;
	background-color: #161616;
}
.btn.btn-dark-2:hover {
	color: #161616;
	background-color: #fff;
}
/* button orange
 ------------------------------ */
.btn.btn-orange {
	color: #fff;
	background-color: #fd602c;
}
.btn.btn-orange:hover {
	color: #fff;
	background-color: #242424;
}
/* button orange-2
 ------------------------------ */
.btn.btn-orange-2 {
	color: #fff;
	background-color: #fd602c;
}
.btn.btn-orange-2:hover {
	color: #242424;
	background-color: #fff;
}
/* button orange-2 on hover dark
 ------------------------------ */
.btn.btn-orange-2.dark {
	color: #fff;
	background-color: #fd602c;
}
.btn.btn-orange-2.dark:hover {
	color: #fff;
	background-color: #242424;
}
/* button orange-3
 ------------------------------ */
.btn.btn-orange-3 {
	color: #fff;
	background-color: #ff971c;
}
.btn.btn-orange-3:hover {
	color: #242424;
	background-color: #fff;
}
/* button brown
 ------------------------------ */
.btn.btn-brown {
	color: #242424;
	background-color: #fff;
}
.btn.btn-brown:hover {
	color: #fff;
	background-color: #8b501f;
}
/* button brown-2
 ------------------------------ */
.btn.btn-brown-2 {
	color: #fff;
	background-color: #b5854d;
}
.btn.btn-brown-2:hover {
	color: #fff;
	background-color: #242424;
}
/* button yellow
 ------------------------------ */
.btn.btn-yellow {
	color: #fff;
	background-color: #ffc000;
}
.btn.btn-yellow:hover {
	color: #fff;
	background-color: #242424;
}
/* button yellow-green-2
 ------------------------------ */
.btn.btn-yellow-green-2 {
	color: #242424;
	background-color: #e9ee42;
}
.btn.btn-yellow-green-2:hover {
	color: #242424;
	background-color: #fff;
}
/* button yellow-3
 ------------------------------ */
.btn.btn-yellow-3 {
	color: #fff;
	background-color: #f7c800;
}
.btn.btn-yellow-3:hover {
	color: #fff;
	background-color: #242424;
}
/* button pink
 ------------------------------ */
.btn.btn-pink {
	color: #fff;
	background-color: #f51f6f;
}
.btn.btn-pink:hover {
	color: #fff;
	background-color: #242424;
}
/* button pink-3
 ------------------------------ */
.btn.btn-pink-3 {
	color: #fff;
	background-color: #ce0a6c;
}
.btn.btn-pink-3:hover {
	color: #fff;
	background-color: #242424;
}
/* button red
 ------------------------------ */
.btn.btn-red {
	color: #fff;
	background-color: #e93e21;
}
.btn.btn-red:hover {
	color: #fff;
	background-color: #242424;
}
/* button red-2
 ------------------------------ */
.btn.btn-red-2 {
	color: #fff;
	background-color: #ea3628;
}
.btn.btn-red-2:hover {
	color: #fff;
	background-color: #ea3628;
}
/* button red-3
 ------------------------------ */
.btn.btn-red-3 {
	color: #fff;
	background-color: #eb574c;
}
.btn.btn-red-3:hover {
	color: #fff;
	background-color: #242424;
}
/* button red-4
 ------------------------------ */
.btn.btn-red-4 {
	color: #fff;
	background-color: #f43819;
}
.btn.btn-red-4:hover {
	color: #fff;
	background-color: #242424;
}
/* button red-5
 ------------------------------ */
.btn.btn-red-5 {
	color: #fff;
	background-color: #ed3325;
}
.btn.btn-red-5:hover {
	color: #242424;
	background-color: #fff;
}
/* button cyan
 ------------------------------ */
.btn.btn-cyan {
	color: #fff;
	background-color: #42d1aa;
}
.btn.btn-cyan:hover {
	color: #242424;
	background-color: #fff;
}

/* button blue
 ------------------------------ */
.btn.btn-blue {
	color: #fff;
	background-color: #1fbef0;
}
.btn.btn-blue:hover {
	color: #fff;
	background-color: #242424;
}
/* button orange
 ------------------------------ */
.btn.btn-green-4 {
	color: #fff;
	background-color: #8ac700;
}
.btn.btn-green-4:hover {
	color: #242424;
	background-color: #fff;
	border:1px solid #e4e4e4;
}

/* button with stroke
 ------------------------------ */
.btn.btn-border {
	color: #242424;
	border: 1px solid;
}

/* button border white
 ------------------------------ */
.btn.btn-border.white {
	color: #fff;
	border-color:#fff;
}
.btn.btn-border:hover.white {
	color:#242424;
	background-color:#fff;
	border-color:#fff;
}
/* button border white
 ------------------------------ */
.btn.btn-border.white-2 {
	color:#fff;
	border-color:#fff;
}
.btn.btn-border:hover.white-2 {
	color:#242424;
	background-color:#fff;
	border-color:#fff;
}
/* button border dark
 ------------------------------ */
.btn.btn-border.dark {
	border-color:#242424;
}
.btn.btn-border:hover.dark {
	color:#fff;
	background-color:#242424;
	border-color:#242424;
}

/* button border light
 ------------------------------ */
.btn.btn-border.light {
	border-color:#e4e4e4;
}
.btn.btn-border:hover.light {
	color:#fff;
	background-color:#242424;
	border-color:#242424;
}

/* button border orange-2
 ------------------------------ */
.btn.btn-border.orange-2 {
	color:#fd602c;
	border-color:#fd602c;
}
.btn.btn-border:hover.orange-2 {
	color:#fff;
	background-color:#fd602c;
	border-color:#fd602c;
}

/* button border orange-2
 ------------------------------ */
.btn.btn-border.orange-2 {
	color:#fd602c;
	border-color:#fd602c;
}
.btn.btn-border:hover.orange-2 {
	color:#fff;
	background-color:#fd602c;
	border-color:#fd602c;
}

/* button border orange-4
 ------------------------------ */
.btn.btn-border.orange-4 {
	color:#ff9320;
	border-color:#ff9320;
}
.btn.btn-border:hover.orange-4 {
	color:#fff;
	background-color:#ff9320;
	border-color:#ff9320;
}

/* button border gray
 ------------------------------ */
.btn.btn-border.gray {
	color:#fff;
	border-color:#727272;
}
.btn.btn-border:hover.gray {
	color:#fff;
	background-color:#5c5b5b;
	border-color:#5c5b5b;
}

/* button border gray-2
 ------------------------------ */
.btn.btn-border.gray-2 {
	color:#242424;
	border-color:#727272;
}
.btn.btn-border:hover.gray-2 {
	color:#fff;
	background-color:#5c5b5b;
	border-color:#5c5b5b;
}

/* button border xdark
 ------------------------------ */
.btn.btn-border.xdark {
	color:#161616;
	border-color:#161616;
}
.btn.btn-border:hover.xdark {
	color:#fff;
	background-color:#161616;
	border-color:#161616;
}

/* button border brown
 ------------------------------ */
.btn.btn-border.brown {
	color:#8b501f;
	border-color:#8b501f;
}
.btn.btn-border:hover.brown {
	color:#fff;
	background-color:#8b501f;
	border-color:#8b501f;
}

/* button border white on hover brown
 ------------------------------ */
.btn.btn-border.white.brown {
	color:#fff;
	border-color:#fff;
}
.btn.btn-border:hover.white.brown {
	color:#fff;
	background-color:#8b501f;
	border-color:#8b501f;
}

/* button border yellow-green
 ------------------------------ */
.btn.btn-border.yellow-green {
	color:#dbdc33;
	border-color:#dbdc33;
}
.btn.btn-border:hover.yellow-green {
	color:#fff;
	background-color:#dbdc33;
	border-color:#dbdc33;
}

/* button border yellow-green-2
 ------------------------------ */
.btn.btn-border.yellow-green-2 {
	color:#e9ee42;
	border-color:#e9ee42;
}
.btn.btn-border:hover.yellow-green-2 {
	color:#242424;
	background-color:#e9ee42;
	border-color:#e9ee42;
}

/* button border light on hover yellow-green-2
 ------------------------------ */
.btn.btn-border.light.yellow-green-2 {
	color:#242424;
	border-color:#e4e4e4;
}
.btn.btn-border:hover.light.yellow-green-2 {
	color:#242424;
	background-color:#e9ee42;
	border-color:#e9ee42;
}

/* button border pink
 ------------------------------ */
.btn.btn-border.pink {
	color:#f51f6f;
	border-color:#f51f6f;
}
.btn.btn-border:hover.pink {
	color:#fff;
	background-color:#f51f6f;
	border-color:#f51f6f;
}

/* button border stone
 ------------------------------ */
.btn.btn-border.stone {
	color:#c3a254;
	border-color:#c3a254;
}
.btn.btn-border:hover.stone {
	color:#fff;
	background-color:#c3a254;
	border-color:#c3a254;
}

/* button border red
 ------------------------------ */
.btn.btn-border.red {
	color:#e93e21;
	border-color:#e93e21;
}
.btn.btn-border:hover.red {
	color:#fff;
	background-color:#e93e21;
	border-color:#e93e21;
}

/* button border light hover red
 ------------------------------ */
.btn.btn-border.light.red {
	color:#242424;
	border-color:#e4e4e4;
}
.btn.btn-border:hover.light.red {
	color:#fff;
	background-color:#e93e21;
	border-color:#e93e21;
}

/* button border light hover red-2
 ------------------------------ */
.btn.btn-border.light.red-2 {
	color:#242424;
	border-color:#e4e4e4;
}
.btn.btn-border:hover.light.red-2 {
	color:#fff;
	background-color:#ea3628;
	border-color:#ea3628;
}

/* button border yellow-2
 ------------------------------ */
.btn.btn-border.yellow-2 {
	color:#fcc813;
	border-color:#fcc813;
}
.btn.btn-border:hover.yellow-2 {
	color:#fff;
	background-color:#fcc813;
	border-color:#fcc813;
}

/* button border red-5
 ------------------------------ */
.btn.btn-border.red-5 {
	color:#ed3325;
	border-color:#ed3325;
}
.btn.btn-border:hover.red-5 {
	color:#fff;
	background-color:#ed3325;
	border-color:#ed3325;
}

/* button border red-5
 ------------------------------ */
.btn.btn-border.light.cyan {
	color:#242424;
	border-color:#e4e4e4;
}
.btn.btn-border:hover.light.cyan {
	color:#fff;
	background-color:#42d1aa;
	border-color:#42d1aa;
}

/* button border blue
 ------------------------------ */
.btn.btn-border.blue {
	color:#1fbef0;
	border-color:#1fbef0;
}
.btn.btn-border:hover.blue {
	color:#fff;
	background-color:#1fbef0;
	border-color:#1fbef0;
}
/* button border green-4
 ------------------------------ */
.btn.btn-border.green-4 {
	color:#8ac700;
	border-color:#8ac700;
}
.btn.btn-border:hover.green-4 {
	color:#fff;
	background-color:#8ac700;
	border-color:#8ac700;
}
/* button border light hover green-4
 ------------------------------ */
.btn.btn-border.light.green-4 {
	color:#242424;
	border-color:#e4e4e4;
}
.btn.btn-border:hover.light.green-4 {
	color:#fff;
	background-color:#8ac700;
	border-color:#8ac700;
}
/* Appstore buttons
 ------------------------------ */ 

.btn.appstore {
	width: 200px;
	padding: 10px 25px;
	margin: 0px;
	text-align: left;
}
.btn.appstore.right-margin {
	margin-right: 10px;
}
.btn.appstore.orange {
	background-color: #fd602c;
}
.btn.appstore span {
	margin: 0px;
	float: left;
	padding: 0;
	text-align: left;
}
.btn.appstore span i {
	font-size: 40px;
	color: #fff;
	padding: 0 20px 0 0;
}
.btn.appstore p {
	font-size: 12px;
	display: block;
	margin: 0;
	padding: 0 25px 0 20px;
	text-align: left;
}
.btn.appstore .big {
	margin: 0px;
	font-size: 18px;
	padding: 0;
}
.btn.appstore.orange:hover {
	background-color: #fff;
}
.btn.appstore.orange:hover p, .btn.appstore.orange:hover .big, .btn.appstore.orange:hover span i {
	color: #242424;
}
/* Appstore button white
 ------------------------------ */
.btn.appstore.white {
	background-color: #fff;
}
.btn.appstore.white span i {
	font-size: 40px;
	color: #242424;
	padding: 0 20px 0 0;
}
.btn.appstore.white:hover {
	background-color: #fd602c;
}
.btn.appstore.white:hover p, .btn.appstore.white:hover .big, .btn.appstore.white:hover span i {
	color: #fff;
}



/*============ Image Boxes ============ */

.section-side-image {
	position: relative;
	padding: 0px;
	margin: 0px;
}
.section-side-image .img-holder {
	overflow: hidden;
	height: 100%;
	padding: 0px;
	top: 0px;
	position: absolute;
}
.background-imgholder.top-padd {
	padding-top: 80px;
}
.section-side-image .text-inner {
	padding: 80px 0px 80px 0;
}
.section-side-image .text-inner.two {
	padding: 0px 80px 0px 0;
}
.background-imgholder {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
	background-size: cover !important;
	background-position: 50% 50% !important;
}
.background-imgholder.img1 {
	background-image: url(../images/site-img01.jpg);
}
.background-imgholder.img2 {
	background-image: url(../images/site-img09.jpg);
}
.background-imgholder.img3 {
	background-image: url(../images/site-img54.jpg);
}
.background-imgholder.img4 {
	background-image: url(../images/site-img48.jpg);
}
.background-imgholder.img5 {
	background-image: url(../http://placehold.it/300x300);
}
.background-imgholder.img6 {
	background-image: url(../images/site-img98.jpg);
}
.background-imgholder.img7 {
	background-image: url(../images/site-img122.jpg);
}
.background-imgholder.img8 {
	background-image: url(../images/260.jpg);
}
.background-imgholder.img9 {
	background-image: url(../images/281.jpg);
}

/* side image 2
 ------------------------------ */
.section-side-image-2 {
	position: relative;
	padding: 0px;
	margin: 0px;
}
.section-side-image-2 .img-holder {
	overflow: hidden;
	height: 100%;
	padding: 0px;
	top: 0px;
	position: absolute;
}
.section-side-image-2 .background-imgholder-2.top-padd {
	padding-top: 80px;
}
.section-side-image-2 .text-inner.two {
	padding: 0px 80px 0px 0;
}
.section-side-image-2 .background-imgholder-2 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
	background-size: cover !important;
	background-position: 50% 50% !important;
}
.image-holder {
	width: 100%;
	float: left;
}
.image-holder.lesswidth1 {
    width: 80%;
}
.image-holder.lesswidth2 {
    width: 75%;
}
.image-holder.lesswidth3 {
    width: 70%;
}
.image-left {
    color: #fff;
    float: left;
    margin: 0;
    padding: 0 20px 0 0;
    transition: all 0.3s ease-out 0s;
}
.img-align-left {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.nodisplay-image {
	display: none;
}
/* background image full width
 ------------------------------ */
.background-imgholder-full {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.background-imgholder-full.img1 {
	width: 100%;
	height: 510px;
	background: url(../images/site-img73.png) 0 0 no-repeat;
}
.background-imgholder-full.img2 {
	width: 100%;
	height: 510px;
	background: url(../images/279.png) 0 0 no-repeat;
}
/* image overflow hidden
 ------------------------------ */
.overflow-hidden {
	overflow: hidden;
}

/*===========================================
=            REVISON DE LISTAS
=               GENERALES       	         =
===========================================*/
/*============ Lists ============ */

.iconlist {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.iconlist li {
	padding: 0px;
	margin: 0 0 15px 0;
	display: block;
	line-height: 23px;
}
.iconlist li i {
	color: #fd602c;
	padding: 0 15px 0 0;
}
.iconlist.orange li i {
	color: #fd602c;
	padding: 0 15px 0 0;
}
.iconlist.orange2 li i {
	color: #fd602c;
	padding: 0 15px 0 0;
}
.iconlist.dark li i {
	color: #161616;
}
.iconlist.less-margin li {
	margin: 0 0 13px 0;
}
.iconlist.green2 li i {
	color: #fd602c;
}
.iconlist.yellow li i {
	color: #ffc000;
}
.iconlist.white li i {
	color: #fff;
}
.iconlist.white-2 li {
	color: #fff;
}
.iconlist.medium li i {
	color: #727272;
}
.iconlist.dark-red li {
	color: #913256;
}
.iconlist.pink li i {
	color: #f51f6f;
	padding: 0 15px 0 0;
}
.iconlist.stone li a {
	color: #c3a254;
	margin: 0 0 10px 0;
}
.iconlist.stone li i {
	color: #c3a254;
}
.iconlist.red-5 li i {
	color: #ed3325;
}
.iconlist.cyan li i {
	color: #42d1aa;
}
.iconlist.blue li i {
	color: #1fbef0;
}
.iconlist.green-4 li i {
	color: #8ac700;
}
.iconlist.green-4 li {
	margin: 0 0 10px 0;
}
/* Client Logo List
 ------------------------------ */
.clientlogo-list {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.clientlogo-list li {
	display: inline;
	padding: 0 16px 0 0;
	margin: 0px;
}
.clientlogo-list li.last {
	padding: 0 0 0 0;
}
.clientlogo-list.two li {
	padding: 0 90px 0 0;
}
.clientlogo-list.two li.last {
	padding: 0 0 0 0;
}
.clientlogo-list.two.transparent {
	opacity: 0.5;
}
/* Client Logo List 2
 ------------------------------ */
.client-list2 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	display: inline-block;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.client-list2 .col-md-4 {
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.client-list2 .col-md-4:last-child {
	border-right: none;
}
.client-list2.lastrow {
	border-bottom: none;
}
/* Client Logo List 3
 ------------------------------ */
.client-list3 {
	width: 100%;
	padding: 15px;
	margin: 0 0 3px 0;
	float: left;
	text-align: center;
	background-color: #fff;
}
/* side navigation list
 ------------------------------ */
.side-nav-list {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.side-nav-list li {
	width: 100%;
	padding: 0px;
	margin: 0 0 2px 0;
	float: left;
}
.side-nav-list li a {
	width: 100%;
	padding: 15px 25px;
	margin: 0px;
	font-weight: normal;
	float: left;
	background-color: #f6f6f6;
}
.side-nav-list li a:hover, .side-nav-list li a.active {
	color: #fff;
	background-color: #ffc000;
}
/* side navigation list
 ------------------------------ */
.category-links {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.category-links li {
	width: 100%;
	padding: 10px 0;
	margin: 0 0 0 0;
	float: left;
	border-bottom: 1px solid #eeeeee;
}
.category-links li a:hover, .category-links li a.active {
	color: #dbdc33;
}
.category-links li:last-child {
	border-bottom: none;
}
.category-links.red-4 li a:hover, .category-links.red-4 li a.active {
	color: #f43819;
}
.category-links.cyan li a:hover, .category-links.cyan li a.active {
	color: #42d1aa;
}
.category-links.orange-2 li a:hover, .category-links.orange-2 li a.active {
	color: #fd602c;
}

/* blog1 tags
 ------------------------------ */	
.tags {
	padding: 0px;
	margin: 0px;
}
.tags li {
	padding: 0px;
	margin: 0;
}
.tags li a {
	padding: 5px 15px 5px 15px;
	margin: 0 10px 10px 0;
	float: left;
	color: #727272;
	background-color: #e7e7e7;
}
.tags li a:hover, .tags li a.active {
	color: #fff;
	background-color: #dbdc33;
}

.tags.two li a {
	color: #242424;
	background-color: #fff;
	border:1px solid #e4e4e4;
}
.tags.two li a:hover, .tags.two li a.active {
	color: #fff;
	background-color: #42d1aa;
	border:1px solid #42d1aa;
}

/*tags 2
 ------------------------------ */	
.tags-2 {
	padding: 0px;
	margin: 0px;
}
.tags-2 li {
	padding: 0px;
	margin: 0;
}
.tags-2 li a {
	padding: 5px 15px 5px 15px;
	margin: 0 10px 10px 0;
	float: left;
	color: #727272;
	border:1px solid #e4e4e4;
	background-color: #fff;
}
.tags-2 li a:hover, .tags-2 li a.active {
	color: #fff;
	border:1px solid #fd602c;
	background-color: #fd602c;
}

/* sidebar works list
 ------------------------------ */	
.sidebar-works {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.sidebar-works li {
	padding: 0px;
	margin: 4px 4px 0 0;
	float: left;
}
.sidebar-works li.last {
	margin: 4px 0 0 0;
}


/*=====  End of REVISON DE LISTAS
=  ======*/










/*=================================================
=            PERSONALIZACION SECCIONES            =
=================================================*/
/*===== corporate deafult home page =======*/
#sp-position-4{
	padding-top: 100px;
}

.lspace-3 {
    letter-spacing: 0;
}
.lspace-sm, .lspace-1, .lspace-2, .lspace-3, .lspace-4, .lspace-5, .lspace-6 {
    letter-spacing: 20px;
}
.lspace-sm {
    letter-spacing: 5px;
}


/* default home page Section Paddings
 ------------------------------ */
.sec-padd-default-page {
	padding: 110px 0 110px 0;
}

/* title bottom line 4
 ------------------------------ */
.title-line-4 {
	width: 34px;
	height: 2px;
	float: left;
	padding: 0px;
	margin: 0 auto 60px auto;
	background-color: #161616;
}
.title-line-4.less-margin {
	margin: 0 auto 15px auto;
}
.title-line-4.align-center.less-margin {
	margin: 0 auto 15px auto;
}
.title-line-4.align-center {
	width: 34px;
	height: 2px;
	float: none;
	padding: 0px;
	margin: 0 auto 60px auto;
}



/*===  SECION QUIENES SOMOS ==*/
 
.feature-box-101 {
	width:100%;
	padding:0px;
	margin:0px;
	float:left;
}

.feature-box-101 .img {
	position: relative;
	width:190px;
	height:190px;
	padding:0px;
	margin:0px;
	float:left;
	z-index:0;
	border-radius:100%;
	overflow:hidden;
}
.feature-box-101 .circle {
	position: absolute;
	width:190px;
	height:190px;
	padding:0px;
	margin:0px;
	z-index:1;
	right:0;
	line-height: 80px; 
	text-align:center;
	vertical-align:middle;
	border-radius:100%;
	background-color:rgba(0, 222, 37, 0.9);
}
.feature-box-101 .circle .title {
	line-height: 190px;
	vertical-align:middle;
	text-align:center;
}


/* page title
 ------------------------------ */
.section-title {
	font-weight: 400;
}
/* subtitle
 ------------------------------ */
.sub-title {
	width: 48%;
	font-size: 16px;
	margin: 0 auto 70px auto;
}
.sub-title-2 {
	width: 48%;
	font-size: 14px;
	margin: 0 auto 70px auto;
}
.sub-title-left {
	width: 90%;
	font-size: 16px;
	margin-right: 10%;
	float: left;
	margin-bottom: 55px;
}
.sub-title-left-2 {
	width: 90%;
	font-size: 14px;
	margin-right: 10%;
	float: left;
	margin-bottom: 55px;
}

/* featurebox 102
 -----------------------------------------------*/
.feature-box-102 {
	width:95%;
	padding:0px;
	margin:0px;
	float:left;
}
.feature-box-102 .number-1 {
	width:100px;
	height:200px;
	padding:0px;
	margin:0 auto;
}

.feature-box-102 .number-2 {
	width:150px;
	height:200px;
	padding:0px;
	margin:0 auto;
}

.feature-box-102 .number-3 {
	width:150px;
	height:200px;
	padding:0px;
	margin:0 auto;
}

.feature-box-102 .number-4 {
	width:150px;
	height:200px;
	padding:0px;
	margin:0 auto;
}


/*Tituos en articulos y componente*/
section#sp-publicidad{
	margin-top: 30px;
	margin-bottom: 20px;
}

#sp-component h1{
  text-align: center;
  letter-spacing:5px;
  font-weight: 400;
}

div.page-header{
  border-bottom: 1px solid black;
}

section#sp-position-5{
	height: auto;
	padding-top:80px;
	padding-bottom: 50px;
}

div.sp-position5 h3{
	font-size: 2em;
	
}

.content-testimonial i{
	color:#00de25;
}


section#sp-position-5 h3.sp-module-title{
	font-family: Montserrat Alternates, sans-serif;
	font-size: 2.5em !important;
	text-align: center;
	letter-spacing:5px;
	text-transform: none;
	font-weight: 400 !important;
	text-transform:capitalize !important;
}

section#sp-position-5,.sp-module-title{
	padding-bottom: 30px;
	border-bottom: 1px solid black;

}



/*=====  End of PERSONALIZACION SECCIONES  ======*/

/*======================================
=            SECCION FOOTER            =
======================================*/


footer div#sp-footer1, #sp-footer2, #sp-footer3{
	width:95%;
	float: left;
	height: auto;
	margin-left: 2.0%;
	margin-top: 30px;
}

footer h3.sp-module-title, .title{
	font-family: Montserrat Alternates, sans-serif;
	font-size: 1.2em !important;
	text-align: center;
	letter-spacing:0px !important;
	text-transform: none;
	font-weight: 400 !important;
	text-transform:capitalize !important;
}

footer p{
	margin-left: 25%;
	text-align: left;
}

footer form#login-form{
	width: 80%;
	margin-left: 10%;
}

footer h3.sp-module-title, .title{
	padding-bottom: 5px !important;
	border-bottom: none;

}



div#sp-position6{
	height: 50px;
	vertical-align: middle;
	text-align: center;
	color:white;
	font-size: 0.8em;
}



/*=====  End of SECCION FOOTER  ======*/

/*========================================
=            PAGINA SERVICIOS            =
========================================*/

/*=================================
=            SERVICIOS            =
=================================*/
.panel-overlay {
    position:relative
}
.panel-overlay .panel-footer, .panel-overlay .panel-heading {
    border-width:0;
    background:rgba(0, 222, 37, 0.7);
    padding:6px 24px;
    position:absolute;
    font-weight: 400;
    width:100%;
}
.panel-overlay .panel-footer {
    bottom:0
}
.panel-overlay .panel-heading {
    top:0
}
.panel-overlay .panel-body {
    padding:0;
    min-height:128px
}
.panel-overlay .heading, .panel-overlay .sub-heading {
    margin:0
}
.panel-overlay .heading {
    font-family:inherit;
}
.panel-overlay .sub-heading {
    color:#ff6d00;
    margin-top:0;
}
.panel-overlay.morph {
    overflow:hidden;
    -webkit-transition:all .25s linear;
    -moz-transition:all .25s linear;
    -o-transition:all .25s linear;
    -ms-transition:all .25s linear;
    transition:all .25s linear
}
.panel-overlay.morph .panel-footer, .panel-overlay.morph .panel-header {
    min-height:0;
    -webkit-transition:all .25s linear;
    -moz-transition:all .25s linear;
    -o-transition:all .25s linear;
    -ms-transition:all .25s linear;
    transition:all .25s linear;
    text-align:left
}
.panel-overlay.morph .heading-wrap {
    position:static;
    -webkit-transform:translate(0, 0);
    -moz-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
    -o-transform:translate(0, 0);
    transform:translate(0, 0)
}
.panel-overlay.morph .img-responsive {
    -webkit-transition:all .25s linear;
    -moz-transition:all .25s linear;
    -o-transition:all .25s linear;
    -ms-transition:all .25s linear;
    transition:all .25s linear;
    -webkit-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
    -o-transform:scale(1, 1);
    transform:scale(1, 1)
}
.panel-overlay.morph:hover {
    opacity:.9
}
.panel-overlay.morph:hover .panel-footer, .panel-overlay.morph:hover .panel-header {
    min-height:100%;
    text-align:center
}
.panel-overlay.morph:hover .panel-footer .heading-wrap, .panel-overlay.morph:hover .panel-header .heading-wrap {
    left:0;
    right:0;
    position:absolute;
    top:50%;
    -webkit-transform:translate(0, -50%);
    -moz-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    -o-transform:translate(0, -50%);
    transform:translate(0, -50%)
}
.panel-overlay.morph:hover .img-responsive {
    -webkit-transform:scale(1.5, 1.5);
    -ms-transform:scale(1.5, 1.5);
    -o-transform:scale(1.5, 1.5);
    transform:scale(1.5, 1.5)
}






.modal {
    display:none;
    overflow:hidden;
    position:fixed;
    top:50px;
    right:0;
    bottom:0;
    left:0;
    z-index:1050;
    -webkit-overflow-scrolling:touch;
    outline:0
}


.modal.fade .modal-dialog {
    -webkit-transform:translate(0, -25%);
    -moz-transform:translate(0, -25%);
    -ms-transform:translate(0, -25%);
    -o-transform:translate(0, -25%);
    transform:translate(0, -25%);
    -webkit-transition:-webkit-transform 0.3s ease-out;
    -moz-transition:-moz-transform 0.3s ease-out;
    -o-transition:-o-transform 0.3s ease-out;
    transition:transform 0.3s ease-out
}
.modal.in .modal-dialog {
    -webkit-transform:translate(0, 0);
    -moz-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
    -o-transform:translate(0, 0);
    transform:translate(0, 0)
}

.modal-header {
    padding:15px;
    border-bottom:1px solid #e5e5e5
}
.modal-header .close {
    margin-top:-2px
}
.modal-title {
    margin:0;
    line-height:1.42857143
}
.modal-body {
    position:relative;
    padding:15px;
}
.modal-footer {
    padding:15px;
    text-align:right;
    border-top:1px solid #e5e5e5
}



/*=====MODAL===============*/


/*=====  End of SERVICIOS  ======*/



/*=====  End of PAGINA SERVICIOS  ======*/






/** ================================
====================================
	MEDIA QUERIES JOMMLA
=================================== 
======================================**/

/* Medium devices (tablet, 768px and 992px) */
@media (min-width:768px) {
	/* == PERSONALIZAR PIE DE PAGINA ==*/

/*============ Image Boxes ============ */

/* text boxe padding
 ------------------------------ */
.text-box.padding-1 {
	padding: 10px;
}
.text-box.padding-2 {
	padding: 20px;
}
.text-box.padding-3 {
	padding: 30px;
}
.text-box.padding-4 {
	padding: 40px;
}
.text-box.padding-5 {
	padding: 50px;
}
.text-box.padding-6 {
	padding: 60px;
}
.text-box.padding-7 {
	padding: 70px;
}

.section-side-image {
	position: relative;
	padding: 0px;
	margin: 0px;
}
.section-side-image .img-holder {
	overflow: hidden;
	height: 100%;
	padding: 0px;
	top: 0px;
	position: absolute;
}
.background-imgholder.top-padd {
	padding-top: 80px;
}
.section-side-image .text-inner {
	padding: 80px 80px 80px 0;
}


section#sp-position-5{
	height: 500px;
}

div.sp-position5 h3{
	font-size: 3em;
	
}

/*========================================
=            SECCION CONTACTO            =
========================================*/



div.tit-contacto{
	background: url(../images/banner_contacto_1.jpg);
	width: 100%;
	height: 250px;
}

div.tit-contacto h2{
	padding-top: 100px;
	padding-right:40%;
	text-align: center;
}
/*=====  End of SECCION CONTACTO  ======*/







/*==PERSONALIZAR PIE DE PAGINA==*/


footer div#sp-footer1, #sp-footer2, #sp-footer3{
	width: 30.55%;
	float: left;
	margin-left: 2.0%;
	margin-top: 30px;
}

footer h3.sp-module-title, .title{
	font-family: Montserrat Alternates, sans-serif;
	font-size: 1.3em !important;
	text-align: center;
	letter-spacing:0px !important;
	text-transform: none;
	font-weight: 400 !important;
	text-transform:capitalize !important;
}

footer h3.title{
	height: 40px !important;
	border-bottom: 1px solid white;

}

footer h3.sp-module-title {
	padding-bottom: 22px !important;
	border-bottom: 1px solid white;

}


div#sp-position6{
	height: 50px;
	vertical-align: middle;
	text-align: center;
	color:white;
	font-size: 1em;
}




/*== FIN PIE DE PAGINA ==*/

}





/** FIN MEDIA QUIERIES **/